<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.cse.boot.mappers.CirculationMapper">
    <resultMap id="circulationResult" type="Circulation">
        <result column="CIRCULATION" property="irculateionNo"/>
        <result column="STORE_NO" property="storeNo"/>
        <result column="PRODUCT_NO" property="productNo"/>
        <result column="INPUT_PRICE" property="inputPrice"/>
        <result column="SALE_PRICE" property="salePrice"/>
        <result column="CIRCULATION_AMOUNT" property="circulateionAmount"/>
        <result column="CIRCULATION_DATE" property="circulateionDate"/>
        <result column="STATUS" property="status"/>
    </resultMap>
</mapper>