<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.cse.boot.mappers.MemberMapper">
    <resultMap id="memberResult" type="Member">
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="STORE_NO" property="storeNo"/>
        <result column="POSITION" property="position"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="PHONE_NUMBER" property="phone"/>
        <result column="RESIDENT_NUMBER" property="residentNo"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="MEMBER_PWD" property="memberPwd"/>
        <result column="MEMBER_STATUS" property="status"/>

    </resultMap>
    <insert id="insertMember">
        INSERT INTO MEMBER(
            MEMBER_NO,
            STORE_NO,
            POSITION,
            MEMBER_NAME,
            PHONE_NUMBER,
            RESIDENT_NUMBER,
            MEMBER_ID,
            MEMBER_PWD,
            MEMBER_STATUS
        ) VALUES (
        SEQ_MNO.NEXTVAL,
        SEQ_ST.CURRVAL,
        #{position},
        #{memberName},
        #{phone},
        #{residentNo},
        #{memberId},
        #{memberPwd},
        'Y'
        )
    </insert>
    <select id="idCheck" resultType="_int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE USER_ID = #{checkId}
    </select>
    <select id="loginMember" parameterType="Member" resultMap="memberResult">
    SELECT
        MEMBER_NO,
        STORE_NO,
        POSITION,
        MEMBER_NAME,
        PHONE_NUMBER,
        RESIDENT_NUMBER,
        MEMBER_ID,
        MEMBER_PWD,
        MEMBER_STATUS
    FROM MEMBER
    WHERE USER_ID = #{memberId}
    AND STATUS = 'Y'
    </select>
</mapper>