<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.cse.boot.mappers.ProductMapper">
    <insert id="insertProduct">
        INSERT INTO PRODUCT(
        PRODUCT_NO,
        CATEGORY_NO,
        PRODUCT_NAME,
        INPUT_PRICE,
        SALE_PRICE
        ) VALUES (
        SEQ_PRNO.NEXTVAL,
        #{categoryNo},
        #{productName},
        #{inputPrice},
        #{salePrice}
        )
    </insert>
</mapper>