<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #top-menu{
            display: grid;
            grid-template-columns: 50% 50%;
        }
    </style>
</head>
<body>
<jsp:include page="../common/header.jsp"/>
<div class="waper">

    <div id="top-manu">
        <div id="top-reft">
            <div id="top-reft1">
                <img src="../../../resources/menu_icons/입고 아이콘.png">
                <p class="main_name">입고</p>
            </div>
        </div>
        <div id="top-right1">
            <input type="text"> <input type="submit" value="검색">
            <input class="search-input" type="text" placeholder="아이디 or 이름 "/>
            <input class="search-input-submit" type="submit" value="검색" />
        </div>
    </div>

    <div id="main">
        <div id="main-in">
            <table class="table table-hover" id="table1">
                <colgroup>
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                </colgroup>
                <thead>
                <tr>
                    <th class="col-2">직급</th>
                    <th class="col-2">아이디</th>
                    <th class="col-4">이름</th>
                    <th class="col-2">전화번호</th>
                    <th class="col-2">재직</th>
                </tr>
                </thead>
                <tbody >
                <tr>
                    <td>알바</td>
                    <td>abc</td>
                    <td>니들이 게맛을알아</td>
                    <td>010-1111-2222</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>알바</td>
                    <td>abc</td>
                    <td>니들이 게맛을알아</td>
                    <td>010-1111-2222</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>알바</td>
                    <td>abc</td>
                    <td>니들이 게맛을알아</td>
                    <td>010-1111-2222</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>알바</td>
                    <td>abc</td>
                    <td>니들이 게맛을알아</td>
                    <td>010-1111-2222</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>알바</td>
                    <td>abc</td>
                    <td>니들이 게맛을알아</td>
                    <td>010-1111-2222</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>알바</td>
                    <td>abc</td>
                    <td>니들이 게맛을알아</td>
                    <td>010-1111-2222</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>알바</td>
                    <td>abc</td>
                    <td>니들이 게맛을알아</td>
                    <td>010-1111-2222</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>알바</td>
                    <td>abc</td>
                    <td>니들이 게맛을알아</td>
                    <td>010-1111-2222</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>알바</td>
                    <td>abc</td>
                    <td>니들이 게맛을알아</td>
                    <td>010-1111-2222</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>알바</td>
                    <td>abc</td>
                    <td>니들이 게맛을알아</td>
                    <td>010-1111-2222</td>
                    <td>Y</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="main-pageing">
            <img src="/resources/common/공통_페이징바화살표.png">
            <button type="button" class="btn btn-outline-secondary">1</button>
            <button type="button" class="btn btn-outline-secondary">2</button>
            <button type="button" class="btn btn-outline-secondary">3</button>
            <button type="button" class="btn btn-outline-secondary">4</button>
            <button type="button" class="btn btn-outline-secondary">5</button>
            <button type="button" class="btn btn-outline-secondary">6</button>
            <button type="button" class="btn btn-outline-secondary">7</button>
            <button type="button" class="btn btn-outline-secondary">8</button>
            <button type="button" class="btn btn-outline-secondary">9</button>
            <button type="button" class="btn btn-outline-secondary">10</button>
            <img src="/resources/common/공통_페이징바화살표.png">
        </div>
    </div>
</div>
</body>
</html>
